<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Form Fragment</title>
</head>
<body>

<div th:fragment="personFormContent(name ,lastname ,fathersName , certificateId , nationalId ,birthdate ,gender ,marriageStatus) ">

    <label th:for="${name}">Name :</label>
    <input type="text" th:id="${name}" name="name" placeholder="Name">
    <!--    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Invalid Name !</span>-->
    <br>
    <label th:for="${lastname}">Family :</label>
    <input type="text" th:id="${lastname}" name="lastname" placeholder="Family">
    <!--    <span class="error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Invalid Family !</span>-->
    <br>


    <label th:for="${fathersName}">Father Name :</label>
    <input type="text" th:id="${fathersName}" name="fathersName" placeholder="Fathers Name">
    <!--    <span class="error" th:if="${#fields.hasErrors('fathersName')}" th:errors="*{fathersName}">Invalid Father Name !</span>-->
    <br>


    <label th:for="${certificateId}">Certificate ID :</label>
    <input type="text" th:id="${certificateId}" name="certificateID" placeholder="Certificate ID">
    <!--    <span class="error" th:if="${#fields.hasErrors('certificateID')}" th:errors="*{certificateID}">Invalid Certificate ID !</span>-->

    <br>

    <label th:for="${nationalId}">National ID :</label>
    <input type="text" th:id="${nationalId}" name="nationalID" placeholder="National ID">
    <!--    <span class="error" th:if="${#fields.hasErrors('nationalId')}" th:errors="*{nationalID}">Invalid National ID !</span>-->
    <br>


    <label th:for="${birthdate}">Birthdate :</label>
    <input type="date" th:id="${birthdate}" name="birthdate" placeholder="Birthdate">
    <!--    <span class="error" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">Invalid Birthdate !</span>-->
    <br>


    <label th:for="${gender}">Gender :</label>
    <select th:id="${gender}" name="gender">
        <option selected disabled value="-1">Choose Your Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <!--    <span class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Invalid gender !</span>-->
    <br>


    <label th:for="${marriageStatus}">Marriage Status :</label>
    <select th:id="${marriageStatus}" name="marriageStatus">
        <option selected disabled value="-1">Choose Your Marriage Status</option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
    </select>
    <!--    <span class="error" th:if="${#fields.hasErrors('marriageStatus')}" th:errors="*{marriageStatus}">Invalid Marriage Status !</span>-->
    <br>


</div>

</body>
</html>