* {
    padding: 0;
    margin: 0;
    padding-inline: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 10fr;
    grid-template-areas: "top top" "content sidebar";
    height: 100vh;

}

#top-sidebar {
    grid-area: top;
    background-color: #669ED5;
    color: #fff;
    padding: 30px;
    text-align: center;


}
.top-sidebar-btn {

    display: inline-block;;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    margin: 4px;
    font-size: 24px; /* Set the font size to 24 pixels */
    font-weight: bold;

}




#right-sidebar {
    grid-area: sidebar;
    background-color: #EFF2EF;
    color: #fff;
    padding: 10px;
}

.sidebar-btn {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #212121;
    margin: 25px;
}

#content {
    grid-area: content;
    padding: 20px;
}



.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr;
    min-height: 60px;
}

.navbar{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
    overflow: hidden;
    max-height: 100vh;
    transition: max-height 2s ease-in-out;
    border-bottom: 2px solid rgb(240,240,240);
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    padding: 0 20px;
    text-align: center;
}

.nav-list a{
    text-decoration: none;
    color: darkmagenta;
    font-weight: bold;
}

.nav-list li:hover{
    box-shadow: 0px 5px 11px -9px #000;
    border-bottom: 1px solid black;
    /*& a {*/
    /*color: #6A89CC;*/
    /*  }*/
}

.content {
    height: calc(100vh - 70px);
    background-color: pink;
}

@media screen and (max-width: 1000px){
    .navbar {
        padding-left: 20px;
    }
    .menu-toggle {
        display: block;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100vh;
        grid-row: 2;
    }

    .nav-list.show {
        display: flex;
        position: absolute;
        top: 60px;
        z-index: 0;
        height: calc(100% - 60px);
    }

    .nav-list li {
        width: calc(100%);
        padding-right: 15%;
        text-align: right;
    }

    .nav-list li:hover{
        display: inline-flex;
        width: calc(100%);
        color: white;
    }
}

.content {
    height: calc(100vh - 60px);
    background-color: hotpink;
}

/*#data-form{*/
/*    width: 50%;*/
/*    margin: auto;*/
/*    text-align: center;*/
/*}*/

/*#submit, input, .form-control{*/
/*    width: 30%;*/
/*    margin: 20px auto;*/
/*}*/


/*.data-table{*/
/*    width:80%;*/
/*    margin: auto;*/
/*}*/