<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family-Material+Icons">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,200" />
    
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->


    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <!--SideBar -->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="img/mftlogo.png" >
                    <h1>MF<span class="danger">T</span></h1>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/templates/person.html">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    <h3>داشبورد</h3>
                </a>
                <a href="/templates/person.html" class="active">
                    <span class="material-symbols-outlined">
                        person
                    </span>شخص
                    <h3>مشتری</h3>
                    
                </a>
                <a href="/templates/salary.html">
                    <span class="material-symbols-outlined">
                        receipt_long
                        </span>حقوق و دستمزد
                    <h3>حقوق و دستمزد</h3>
                </a>
                <a href="/templates/jobs.html">
                    <span class="material-symbols-outlined">
                        finance
                        </span>مشاغل
                    <h3>مشاغل</h3>
                </a>
                <a href="/templates/medicalHistory.html">
                    <span class="material-symbols-outlined">
                        mail
                        </span>سوابق پزشکی
                    <h3>سوابق پزشکی</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="/templates/financialDocument.html">
                    <span class="material-symbols-outlined">
                        inventory
                        </span>مدارک حسابداری
                    <h3>مدارک حسابداری</h3>
                </a>
                <a href="/templates/skills.html">
                    <span class="material-symbols-outlined">
                        report
                        </span>مهارت ها
                    <h3>مهارت ها</h3>
                </a>
                <a href="/templates/military.html">
                    <span class="material-symbols-outlined">
                        settings
                    </span>سربازی
                    <h3>سربازی</h3>
                </a>
                <a href="/templates/drivingLicence.html">
                    <span class="material-symbols-outlined">
                        add
                    </span>گواهینامه
                    <h3>گواهینامه</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <h3>خروج</h3>
                </a>
            </div>
        </aside>
        <!--SideBar -->

        <main>
           <!-- Entity Forms -->

        </main>
        <!-- ===========End Of Main============ -->

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <div class="lang-toggler">
                    <span class="material-symbols-outlined lang-icon" role="button" id="lang-icon">
                        language
                    </span>
                    <ul class="lang-dropdown" id="lang-dropdown">
                        <li><a href="../en/enDashboard.html"><b>English</b></a></li>
                        <li><a href="" class="text-muted">فارسی</a></li>
                    </ul>
                </div>
                <div class="theme-toggler">
                    <span class="material-symbols-outlined active">
                        light_mode
                    </span>
                    
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span>

                </div>
                <div class="profile">
                    <div class="info">
                        <p>سلام  <b> Mahoor</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="img/profile2.png">
                    </div>
                </div>
            </div>
           
        </div>
    </div>

 

    <script src="js/orders.js"></script>
    <script src="js/dashboard.js"></script>
    
</body>
</html>