<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="bankTransactionFormContent(balance, financialDocument, person)">

    <div>
        <label th:for="${balance}">Balance:</label>
        <input type="number" th:id="${balance}" name="balance" th:value="${balance}" readonly />
    </div>

    <div>
        <label th:for="${bankTransaction_financialDocument}">Select Person:</label>
        <select th:id="${bankTransaction_financialDocument}" name="bankTransaction_financialDocument">
            <option>Select</option>
            <option th:each="financialDocument : ${financialDocumentList}" th:value="${financialDocument.id}" th:text="${financialDocument.id}"></option>
        </select>
        <!--        <span class="error" th:if="${#fields.hasErrors('financialDocument')}" th:errors="*{financialDocument}">Invalid Financial Document!</span>-->
    </div>

    <div>
        <label th:for="${bankTransaction_person}">Select Person:</label>
        <select th:id="${bankTransaction_person}" name="bankTransaction_person">
            <option>Select</option>
            <option th:each="person : ${personList}" th:value="${person.id}" th:text="${person.username}"></option>
        </select>
<!--        <span class="error" th:if="${#fields.hasErrors('person')}" th:errors="*{person}">Invalid Person!</span>-->
    </div>

</div>

</body>
</html>