<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="#"
      th:action="@{/update/{id}(id=${appointmentDecreeEdit.id})}"
      th:object="${appointmentDecreeEdit}"
      method="post">
    <div>
        <label>Type Of Employment</label>
        <br>
        <input type="text" th:value="${typeOfEmployment}" th:field="*{typeOfEmployment}">
        <!--                <span th:if="${#fields.hasErrors('typeOfEmployment')}" th:errors="*{typeOfEmployment}">Invalid</span>-->
    </div>
    <div>
        <label>Organizational Unit</label>
        <br>
        <input type="text" th:value="${organizationalUnit}" th:field="*{organizationalUnit}">
        <!--                <span th:if="${#fields.hasErrors('organizationalUnit')}" th:errors="*{organizationalUnit}">Invalid</span>-->
    </div>
    <div>
        <label>Job Type</label>
        <br>
        <input type="text" th:value="${jobType}" th:field="*{jobType}">
        <!--                <span th:if="${#fields.hasErrors('jobType')}" th:errors="*{jobType}">Invalid</span>-->
    </div>
    <div>
        <label>Professional Field</label>
        <br>
        <input type="text" th:value="${professionalField}" th:field="*{professionalField}">
        <!--                <span th:if="${#fields.hasErrors('professionalField')}" th:errors="*{professionalField}">Invalid</span>-->
    </div>
    <div>
        <label>Job Code</label>
        <br>
        <input type="number" th:value="${jobCode}" th:field="*{jobCode}">
        <!--                <span th:if="${#fields.hasErrors('jobCode')}" th:errors="*{jobCode}">Invalid</span>-->
    </div>
    <div>
        <label>Job Title</label>
        <br>
        <input type="text" th:value="${jobTitle}" th:field="*{jobTitle}">
        <!--                <span th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}">Invalid</span>-->
    </div>
    <div>
        <label>Start Date</label>
        <br>
        <input type="date" th:value="${startDate}" th:field="*{startDate}">
        <!--                <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Invalid</span>-->
    </div>
    <div>
        <label>End Date</label>
        <br>
        <input type="date" th:value="${endDate}" th:field="*{endDate}">
        <!--                <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Invalid</span>-->
    </div>
    <div>
        <label>Place Of Employment</label>
        <br>
        <input type="text" th:value="${placeOfEmployment}" th:field="*{placeOfEmployment}">
        <!--                <span th:if="${#fields.hasErrors('placeOfEmployment')}" th:errors="*{placeOfEmployment}">Invalid</span>-->
    </div>
    <div>
        <label>Working Hours</label>
        <br>
        <input type="text" th:value="${workingHours}" th:field="*{workingHours}">
        <!--                <span th:if="${#fields.hasErrors('workingHours')}" th:errors="*{workingHours}">Invalid</span>-->
    </div>
    <div>
        <label>Working Day</label>
        <br>
        <input type="number" th:value="${workingDay}" th:field="*{workingDay}">
        <!--                <span th:if="${#fields.hasErrors('workingDay')}" th:errors="*{workingDay}">Invalid</span>-->
    </div>
    <div>
        <label>Appointment Type</label>
        <br>
        <input type="text" th:value="${appointmentType}" th:field="*{appointmentType}">
        <!--                <span th:if="${#fields.hasErrors('appointmentType')}" th:errors="*{appointmentType}">Invalid</span>-->
    </div>
    <div>
        <label>Appointment Description</label>
        <br>
        <input type="text" th:value="${appointmentDescription}" th:field="*{appointmentDescription}">
        <!--                <span th:if="${#fields.hasErrors('appointmentDescription')}" th:errors="*{appointmentDescription}">Invalid</span>-->
    </div>
    <input type="submit" value="Update User">
</form>
</body>
</html>