<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<h2>Bank</h2>

<form th:action="@{/bank/save}" method="post" th:object="${bank}">
    <label>
        <input type="date" placeholder="Account Opening Date" th:value="${accountOpeningDate}" th:field="*{accountOpeningDate}">
    </label>
    <br>
    <label>
        <input type="text" placeholder="Account Number" th:value="${accountNumber}" th:field="*{accountNumber}">
    </label>
    <br>
    <label>
        <input type="text" placeholder="Account Owner" th:value="${accountOwner}" th:field="*{accountOwner}">
    </label>
    <br>
    <label>
        <input type="text" placeholder="Bank And Branch" th:value="${bankAndBranch}" th:field="*{bankAndBranch}">
    </label>
    <br>
    <label>
        <input type="text" placeholder="Account Type" th:value="${accountType}" th:field="*{accountType}">
    </label>
    <br>
    <label>
        <input type="text" placeholder="Account Status" th:value="${accountStatus}" th:field="*{accountStatus}">
    </label>
    <br>
    <label>
        <input type="number" placeholder="Balance" th:value="${balance}" th:field="*{balance}">
    </label>
    <br>
    <input type="submit" value="Save">
</form>
<table th:list="${bankList}">
    <thead>
    <th>Id</th>
    <th>Account Opening Date</th>
    <th>Account Number</th>
    <th>Account Owner</th>
    <th>Bank And Branch</th>
    <th>Account Type</th>
    <th>Account Status</th>
    <th>Balance</th>
    <th>Operation</th>
    </thead>
    <tbody>
    <tr th:each="bank : ${bankList}">
        <td th:text="${bank.id}"></td>
        <td th:text="${bank.accountOpeningDate}"></td>
        <td th:text="${bank.accountNumber}"></td>
        <td th:text="${bank.accountOwner}"></td>
        <td th:text="${bank.bankAndBranch}"></td>
        <td th:text="${bank.accountType}"></td>
        <td th:text="${bank.accountStatus}"></td>
        <td th:text="${bank.balance}"></td>
        <td>
            <button th:onclick="'edit(\'' + ${bank.id} + '\')'">Edit</button>
            <form th:action="@{/bank/delete}" method="post">
                <label>
                    <input type="text" name="id" th:value="${bank.id}" hidden="hidden">
                </label>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script>
    async function edit(id){
        const resp =await fetch("/bank/id/" +id , {
            method:"get"
        });
        const data = resp.json();
        console.log(data)
    }
</script>
</body>
</html>