<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank Transaction Edit</title>
</head>
<body>
<form th:action="@{/bankTransaction/update/{id}(id=${bankTransactionEdit.id})}" th:object="${bankTransactionEdit}" method="post">
    <label>
        <input type="number" placeholder="Balance" th:value="${balance}" th:field="*{balance}">
    </label>
    <br>
    <label>
        <input type="text" placeholder="Financial Document" th:value="${financialDocument}" th:field="*{financialDocument}">
    </label>
    <br>
    <label>
        <input type="text" placeholder="Employee" th:value="${employee}" th:field="*{employee}">
    </label>
    <br>
    <input type="submit" value="Update">
</form>
</body>
</html>