<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BankTransaction</title>
    <link rel="stylesheet" href="/css/finance.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,200"/>
</head>
<body>
<div class="container">

    <div id="save-modal">
        <div id="save-modal-content">
            <form id="save-form" th:object="${bankTransaction}">
                <div th:insert="fragments/bankTransaction-fragments :: bankTransactionFormContent(balance, financialDocument, person)"></div>
            </form>
            <button onclick="save('/bankTransaction', 'save-form')">Save</button>
            <button onclick="closeModal()">Close</button>
        </div>
    </div>

    <br><br>

    <button onclick="addNew()">Add New</button>

    <br><br>

    <table class="table table-striped" th:if="${bankTransactionList != null and #lists.size(bankTransactionList) > 0}">
        <thead>
        <th>Id</th>
        <th>Balance</th>
        <th>Financial Document</th>
        <th>Person</th>
        <th>Operation</th>
        </thead>

        <tbody>
        <tr th:each="bankTransaction : ${bankTransactionList}">
            <td th:text="${bankTransaction.id}"></td>
            <td th:text="${bankTransaction.financialDocument.amount}"></td>
            <td th:text="${bankTransaction.financialDocument.id}"></td>
            <td th:text="${bankTransaction.person.username}"></td>
            <td>
                <button th:data-name="${bankTransaction.id}"
                        th:onclick="|getDataForEdit('/bankTransaction', this.getAttribute('data-name'))|"> Edit
                </button>
                <button th:data-name="${bankTransaction.id}" th:onclick="|remove('/bankTransaction', this.getAttribute('data-name'))|">
                    Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="edit-modal">
        <div id="edit-modal-content">
            <form id="edit-form">
                <label for="id"></label><input type="text" id="id" name="id" hidden="hidden">
                <div th:replace="fragments/bankTransaction-fragments :: bankTransactionFormContent(balance, financialDocument, person)"></div>
            </form>
            <button onclick="edit('/bankTransaction', 'edit-form')">Edit</button>
            <button onclick="closeModal()">Close</button>
        </div>
    </div>

    <div class="popup" id="popup">
        <div class="popup-content" id="popup-content">
            <span class="material-symbols-outlined popup-info" id="popup-info">
                check_circle
            </span>

            <span class="material-symbols-outlined popup-error" id="popup-error">
                error
            </span>

            <div class="popup-message" id="popup-message">
                <span class="text text-1 popup-title" id="popup-title"></span>
                <span class="text text-2 popup-text" id="popup-text"></span>
            </div>
        </div>
        <span class="material-symbols-outlined popup-close" id="popup-close">
            close
        </span>
        <div class="popup-progress" id="popup-progress"></div>
    </div>
</div>

<script src="/js/bankTransaction.js"></script>
<script src="/js/js.js"></script>
<script src="/js/popup.js"></script>

</body>
</html>