<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>contact</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.css">
</head>
<body>
this is contact html page
</br>

<div class="container">

    <div class="navBar">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModalPerson">Add Your New Contact</button>
    </div>


    <!--contact Table-->
    <table class="table table-striped" th:if="${#lists.size(contactList) > 0}">
        <thead>
        <!--        <tr>-->
        <th>Id</th>
        <th>Title</th>
        <th>Province</th>
        <th>City</th>
        <th>FullAdress</th>
        <th>postal code</th>
        <th>Phone Number</th>
        <th>Ticket tim stamp</th>
        <th>contact_status</th>
        <th>contact_deleted</th>
        <!--        <th>Jobs</th>-->
        <!--        <th>Skills</th>-->
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <!--        </tr>-->
        </thead>

        <tbody>
        <tr th:each="contact :${contactList}">
            <td th:text="${contact.id}"></td>
            <td th:text="${contact.title}"></td>
            <td th:text="${contact.province}"></td>
            <td th:text="${contact.city}"></td>
            <td th:text="${contact.fullAddress}"></td>
            <td th:text="${contact.postalCode}"></td>
            <td th:text="${contact.phoneNumber}"></td>
            <td th:text="${contact.ticketTimeStamp}"></td>
            <td th:text="${contact.status}"></td>
            <td th:text="${contact.deleted}"></td>
            <!--            <td th:text="${person.skills}"></td>-->
            <!--            <td th:text="${person.jobs}"></td>-->
            <td>Active</td>
            <td><a class="btn btn-warning editButtonJobs" th:onclick="'findById(\'' + ${contact.id} + '\')'">Edit</a></td>
            <td><a class="btn btn-danger deleteButtonJobs" th:onclick="'deleteById(\'' + ${contact.id} + '\')'">Delete</a></td>
            <!--            <td><a class="btn btn-danger deleteButtonJobs" th:onclick="'openDeleteModal(\'' + ${person.id} + '\')'">Delete</a></td>-->
        </tr>
        </tbody>
    </table>
    <!--Person Table-->






    <!--Save Modal-->
    <div class="modal fade" id="addModalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form th:action="@{/contact/save}" method="post" th:object="${contact}" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="save__modal__title__jobs">Save New Contact </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="title__add__contact" class="col-form-label">Title :</label>
                            <input type="text" class="form-control" id="title__add__contact"  th:value="${contact.title}" th:field="*{title}">
                            <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid title !</span>
                        </div>



                        <div class="mb-3">
                            <label for="province__add__contact" class="col-form-label">province :</label>
                            <input type="text" class="form-control" id="province__add__contact" th:value="${contact.province}" th:field="*{province}">
                            <span class="error" th:if="${#fields.hasErrors('province')}" th:errors="*{province}">Invalid province !</span>
                        </div>


                        <div class="mb-3">
                            <label for="city__add__contact" class="col-form-label">city:</label>
                            <input type="text" class="form-control" id="city__add__contact" th:value="${contact.city}" th:field="*{city}">
                            <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{province}">Invalid city !</span>
                        </div>


                        <div class="mb-3">
                            <label for="fullAddress__add__contact" class="col-form-label">fullAddress:</label>
                            <input type="text" class="form-control" id="fullAddress__add__contact" th:value="${contact.city}" th:field="*{fullAddress}">
                            <span class="error" th:if="${#fields.hasErrors('fullAddress')}" th:errors="*{fullAddress}">Invalid fullAddress !</span>
                        </div>



                        <div class="mb-3">
                            <label for="postalCode__add__contact" class="col-form-label">postalCode:</label>
                            <input type="text" class="form-control" id="postalCode__add__contact" th:value="${contact.postalCode}" th:field="*{postalCode}">
                            <span class="error" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Invalid postalCode !</span>
                        </div>




                        <div class="mb-3">
                            <label for="phoneNumber__add__contact" class="col-form-label">phoneNumber:</label>
                            <input type="text" class="form-control" id="phoneNumber__add__contact" th:value="${contact.phoneNumber}" th:field="*{phoneNumber}">
                            <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Invalid phoneNumber !</span>
                        </div>





                        <div class="mb-3">
                            <label for="ticketTimeStamp__add__contact" class="col-form-label">ticketTimeStamp:</label>
                            <input type="text" class="form-control" id="ticketTimeStamp__add__contact" th:value="${contact.ticketTimeStamp}" th:field="*{ticketTimeStamp}">
                            <span class="error" th:if="${#fields.hasErrors('ticketTimeStamp')}" th:errors="*{ticketTimeStamp}">Invalid ticketTimeStamp !</span>
                        </div>


                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </div>
            </div>
        </form>

    </div>
    <!--Save Modal-->






        <!--Edit Modal-->
    <div   class="modal fade" id="editModalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form th:object="${contact}" id="editFormContact" th:action="@{/contact/edit}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <div class="modal-header">
                        <h5 class="modal-title" id="edit__modal__title__jobs">edit New Contact </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="title__edit__contact" class="col-form-label">Title :</label>
                            <input type="text" class="form-control" id="title__edit__contact"  th:value="${contact.title}" th:field="*{title}">
                            <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid title !</span>
                        </div>



                        <div class="mb-3">
                            <label for="province__edit__contact" class="col-form-label">province :</label>
                            <input type="text" class="form-control" id="province__edit__contact" th:value="${contact.province}" th:field="*{province}">
                            <span class="error" th:if="${#fields.hasErrors('province')}" th:errors="*{province}">Invalid province !</span>
                        </div>


                        <div class="mb-3">
                            <label for="city__edit__contact" class="col-form-label">city:</label>
                            <input type="text" class="form-control" id="city__edit__contact" th:value="${contact.city}" th:field="*{city}">
                            <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{province}">Invalid city !</span>
                        </div>


                        <div class="mb-3">
                            <label for="fullAddress__edit__contact" class="col-form-label">fullAddress:</label>
                            <input type="text" class="form-control" id="fullAddress__edit__contact" th:value="${contact.city}" th:field="*{fullAddress}">
                            <span class="error" th:if="${#fields.hasErrors('fullAddress')}" th:errors="*{fullAddress}">Invalid fullAddress !</span>
                        </div>



                        <div class="mb-3">
                            <label for="postalCode__edit__contact" class="col-form-label">postalCode:</label>
                            <input type="text" class="form-control" id="postalCode__edit__contact" th:value="${contact.postalCode}" th:field="*{postalCode}">
                            <span class="error" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Invalid postalCode !</span>
                        </div>




                        <div class="mb-3">
                            <label for="phoneNumber__edit__contact" class="col-form-label">phoneNumber:</label>
                            <input type="text" class="form-control" id="phoneNumber__edit__contact" th:value="${contact.phoneNumber}" th:field="*{phoneNumber}">
                            <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Invalid phoneNumber !</span>
                        </div>





                        <div class="mb-3">
                            <label for="ticketTimeStamp__edit__contact" class="col-form-label">ticketTimeStamp:</label>
                            <input type="text" class="form-control" id="ticketTimeStamp__edit__contact" th:value="${contact.ticketTimeStamp}" th:field="*{ticketTimeStamp}">
                            <span class="error" th:if="${#fields.hasErrors('ticketTimeStamp')}" th:errors="*{ticketTimeStamp}">Invalid ticketTimeStamp !</span>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitEditModal__person" onclick="edit()">Save Edited</button>
                    </div>

                </div>
            </div>
        </form>

    </div>
    <!--Edit Modal-->



<!--    &lt;!&ndash;Delete Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="deleteModalPerson" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >-->

<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabelPerson"> Confirm The Deletion !</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <div class="mb-3" th:object="${person}">-->
<!--                        <label for="id__delete__person" class="col-form-label">ID :</label>-->
<!--                        <input type="text" class="form-control" id="id__delete__person" name="id" readonly  th:text="${person.id}">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button  type="button" class="btn btn-success" data-bs-dismiss="modal" >Cancel</button>-->
<!--                    <button  class="btn btn-danger" id="deleteConfirmButtonPerson"  th:onclick="'deleteById(\'' + ${person.id} + '\')'">Delete</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash;Delete Modal &ndash;&gt;-->





<!--    &lt;!&ndash;    &lt;!&ndash;Delete Modal &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;    <div class="modal fade" id="deleteModalPerson" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >&ndash;&gt;-->
<!--    &lt;!&ndash;        <form th:object="${person}">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="modal-dialog">&ndash;&gt;-->
<!--    &lt;!&ndash;                <div class="modal-content">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <div class="modal-header">&ndash;&gt;-->
<!--    &lt;!&ndash;                        <h5 class="modal-title" id="exampleModalLabelPerson"> Confirm The Deletion !</h5>&ndash;&gt;-->
<!--    &lt;!&ndash;                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>&ndash;&gt;-->
<!--    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;                    <div class="modal-body">&ndash;&gt;-->
<!--    &lt;!&ndash;                        <div class="mb-3">&ndash;&gt;-->
<!--    &lt;!&ndash;                            <label for="id__delete__person" class="col-form-label">ID :</label>&ndash;&gt;-->
<!--    &lt;!&ndash;                            <input type="text" class="form-control" id="id__delete__person" name="id" readonly  th:value="${person.id}" th:field="*{id}">&ndash;&gt;-->
<!--    &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;                    <div class="modal-footer">&ndash;&gt;-->
<!--    &lt;!&ndash;                        <button  type="button" class="btn btn-success" data-bs-dismiss="modal" >Cancel</button>&ndash;&gt;-->
<!--    &lt;!&ndash;                        <button  class="btn btn-danger" id="deleteConfirmButtonPerson"  th:onclick="'deleteById(\'' + ${person.id} + '\')'">Delete</button>&ndash;&gt;-->
<!--    &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;                </div>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </form>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    &lt;!&ndash;Delete Modal &ndash;&gt;&ndash;&gt;-->

<!--</div>-->


<!--<script type="text/javascript" src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>-->
<!--<script type="text/javascript" th:src="@{js/person.js}" src="/js/jobs.js" ></script>-->
<!--<script type="text/javascript" th:src="@{js/person.js}" src="/js/account.js"></script>-->
<!--<script type="text/javascript" th:src="@{js/person.js}" src="/js/salary.js"></script>-->

</body>
</html>