<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"/>-->
    <link type="text/css" rel="stylesheet" media="all"  href="../static/css/stylesheet.css"  th:href="@{/css/stylesheet.css}"   />

    <title>Sidebar with Java Backend Interaction</title>

</head>
<body>

<div id="top-sidebar">
    <a href="" onclick="loadPage('0');return false;" class="top-sidebar-btn">خانه </a>
    <a href="" onclick="loadPage('1');return false;" class="top-sidebar-btn">index1</a>
    <a href="" onclick="loadPage('2');return false;" class="top-sidebar-btn">index2</a>
    <a href="" onclick="loadPage('3');return false;" class="top-sidebar-btn">index3</a>
    <a href="" onclick="loadPage('4');return false;" class="top-sidebar-btn">index4</a>
    <a href="" onclick="loadPage('5');return false;" class="top-sidebar-btn">index5</a>
    <a href="" onclick="loadPage('6');return false;" class="top-sidebar-btn">index6</a>
</div>
<div id="right-sidebar">
    <a href="person.html" class="sidebar-btn" onclick="sendRequest('button9')"><span class="material-symbols-outlined">
badge
</span> مشخصات </a>
    <a href="skills.html" class="sidebar-btn" onclick="sendRequest('button10')"><span class="material-symbols-outlined">
work_history
</span>سوابق شغلی</a>
    <a href="medicalHistory.html" class="sidebar-btn" onclick="sendRequest('button5')"><span class="material-symbols-outlined">
ecg_heart
</span>سوابق پزشکی</a>
    <a href="account.html" class="sidebar-btn" onclick="sendRequest('button6')"><span class="material-symbols-outlined">
account_balance_wallet
</span>اطلاعات حساب</a>
    <a href="appointmentDecree.html" class="sidebar-btn" onclick="sendRequest('button7')"><span class="material-symbols-outlined">
contract
</span>حکم کارگزینی</a>
    <a href="skills.html" class="sidebar-btn" onclick="sendRequest('button8')"><span class="material-symbols-outlined">
list_alt
</span>جدول شغلی</a>
    <a href="#" class="sidebar-btn" onclick="sendRequest('button8')"><span class="material-symbols-outlined">
lab_profile
</span>گزارشات</a>
    <a href="#" class="sidebar-btn" onclick="sendRequest('button8')"><span class="material-symbols-outlined">
approval_delegation
</span>درخواست</a>
    <a href="#" class="sidebar-btn" onclick="sendRequest('button8')">آیکون رزرو 1</a>
    <a href="#" class="sidebar-btn" onclick="sendRequest('button8')">آیکون رزرو 2</a>
    <a href="#" class="sidebar-btn" onclick="sendRequest('button8')">آیکون رزرو 3</a>
    <a href="#" class="sidebar-btn" onclick="sendRequest('button8')">آیکون رزرو 4</a>
</div>
<div id="content">
    <h1>Main Content</h1>
    <p>This is the main content area.</p>
    <div id="response"></div>
</div>


</br>
<script>
    function loadPage(pagenumber) {
        const javaResponse = '/index' + pagenumber;
        fetch(javaResponse).then(data => {
            let responseEl = document.getElementById("response");
            let ht = "";
            data.text().then(ddd => {
                responseEl.innerHTML = ddd;
            });
            console.log(ht);
        });
    }


</script>
</body>
</html>