<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet"  href="/css/medicalHistory.css">
  <link rel="stylesheet"  href="/css/popup.css">
  <meta charset="UTF-8">
  <title>MedicalHistory</title>
</head>
<body>
<h2>MedicalHistory Page</h2>

<div class="container">
  <div>
    <button type="button" class="save-button" onclick="addMedicalHistory()">Add Your Medical History</button>
  </div>

<table th:if="${#lists.size(medicalHistoryList) > 0}">
  <thead>
  <th>Id</th>
  <th>Weight</th>
  <th>Height</th>
  <th>Blood Pressure</th>
  <th>Heart Rate</th>
  <th>Allergy</th>
  <th>Surgery</th>
  <th>Emergency Drug</th>
  <th>Disease</th>
  <th>Emergency Phone Number</th>
  </thead>
  <tbody>
  <tr th:each="medical : ${medicalHistoryList}">
    <td th:text="${medical.id}"></td>
    <td th:text="${medical.weight}"></td>
    <td th:text="${medical.height}"></td>
    <td th:text="${medical.bloodPressure}"></td>
    <td th:text="${medical.heartRate}"></td>
    <td th:text="${medical.allergy}"></td>
    <td th:text="${medical.surgery}"></td>
    <td th:text="${medical.emergencyDrug}"></td>
<!--    <td th:text="${medical.disease}"></td>-->
    <td th:text="${medical.emergencyPhoneNumber}"></td>
    <td>
      <button class="edit-button" th:data-name="${medical.id}"
              th:onclick="findId(this.getAttribute('data-name'))">Edit
      </button>
      <button class="delete-button" th:data-name="${medical.id}"
              th:onclick="deleted(this.getAttribute('data-name'))">Delete
      </button>
    </td>
  </tr>
  </tbody>

</table>

  <div id="saveModalMedicalHistory">
    <div id="saveModalMedicalHistoryContent">
      <form id="saveFormMedicalHistory">
        <div th:replace="~{/fragments/medicalHistory-fragment :: medicalHistorySaveFormContent('weight','height','bloodPressure','heartRate','allergy','surgery','emergencyDrug','emergencyPhoneNumber') }"></div>
      </form>
      <div class="modal-footer">
        <button onclick="save()" class="save-button">Save</button>
        <button onclick="closeModal()" class="close-button">Close</button>
      </div>
    </div>
  </div>

  <div id="editModalMedicalHistory">
    <div id="editModalMedicalHistoryContent">
      <form id="editFormMedicalHistory">
        <label for="id__edit__medicalHistory" >ID :</label>
        <input type="text" id="id__edit__medicalHistory" name="id" readonly>
        <div th:replace="~{/fragments/medicalHistory-fragment :: medicalHistoryEditFormContent('weight','height','bloodPressure','heartRate','allergy','surgery','emergencyDrug','disease','emergencyPhoneNumber')}"></div>
      </form>
      <div class="modal-footer">
        <button onclick="edit()" class="edit-button">Edit</button>
        <button onclick="closeModal()" class="close-button">Close</button>
      </div>
    </div>
  </div>

</div>
<div th:replace="~{/fragments/popup-fragment}"></div>
<script type="text/javascript" src="/js/popup.js"></script>
<script type="text/javascript" th:src="@{js/medicalHistory.js}" src="../static/js/medicalHistory.js"></script>
<script type="text/javascript" src="/js/medicalHistory.js"></script>

</body>
</html>