<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Person</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.css">
</head>
<body>

<h2>Person Page</h2>
<form th:action="@{/person/save}" method="post" th:object="${person}">

    <input type="userName" placeholder="UserName" th:value="${usernme}" th:field="*{username}">
    <br>
    <input type="password" placeholder="PassWord" th:value="${password}" th:field="*{password}">
    <br>
    <input type="name" placeholder="Name" th:value="${name}" th:field="*{name}">
    <br>
    <input type="lastName" placeholder="LastName" th:value="${Lastname}" th:field="*{lastname}">
    <br>
    <input type="fathersName" placeholder="FathersName" th:value="${fathersName}" th:field="*{fathersName}">
    <br>
    <input type="gender" placeholder="Gender" th:value="${gender}" th:field="*{gender}">
    <br>
    <input type="nationalId" placeholder="NationalId" th:value="${nationalId}" th:field="*{nationalId}">
    <br>
    <input type="certificateID" placeholder="CertificateID" th:value="${certificateID}" th:field="*{certificateID}">
    <br>
    <lable>BirthDate:</lable>
    <input type="date" th:value="${birthdate}" th:field="*{birthdate}">
    <br>
    <input type="city" placeholder="City" th:value="${city}" th:field="*{city}">
    <br>
    <input type="province" placeholder="Province" th:value="${province}" th:field="*{province}">
    <br>
    <input type="isMarried" placeholder="IsMarried" th:value="${marriageStatus}" th:field="*{marriageStatus}">
    <br>
    <input type="jobs" placeholder="Jobs" th:value="${jobs}" th:field="*{jobs}">
    <br>
    <input type="skills" placeholder="Skills" th:value="${skills}" th:field="*{skills}">
    <br>
    <input type="submit" th:value="Save">
    </form>
<table th:if="${#lists.size(personList)>0}">
    <thead>
    <th>Id</th>
    <th> Name</th>
    <th> Lastname</th>
    <th> FathersName</th>
    <th> UserName</th>
    <th> PassWord</th>
    <th> CertificateID</th>
    <th> NationalId</th>
    <th> Birthdate</th>
    <th> Gender</th>
    <th> MarriageStatus</th>
    <th> City</th>
    <th> Province</th>
    <th> Jobs</th>
    <th> Skills</th>
    </thead>
    <tbody>
    <tr th:each="p : ${personList}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.lastname}"></td>
        <td th:text="${p.fathersName}"></td>
        <td th:text="${p.userName}"></td>
        <td th:text="${p.password}"></td>
        <td th:text="${p.certificateID}"></td>
        <td th:text="${p.nationalId}"></td>
        <td th:text="${p.birthdate}"></td>
        <td th:text="${p.gender}"></td>
        <td th:text="${p.marriageStatus}"></td>
        <td th:text="${p.city}"></td>
        <td th:text="${p.province}"></td>
        <td th:text="${p.jobs}"></td>
        <td th:text="${p.skills}"></td>
    <td>
    <button>Edit</button>
    <form th:action="@{/person/delete}" method="post">
        <input type="text" hidden="hidden" th:value="${p.id}"name="id">
        <button type="submit">Delete</button>
    </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>