<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/presenceAndAbsence.css">
    <title>PresenceAndAbsence</title>
</head>
<body>
<h2>Presence And Absence Page</h2>

<div class="container">

    <div>
        <button type="button" class="save-button" onclick="addNew()">Add New PresenceAndAbsence</button>
    </div>

    <!--PresenceAndAbsence Table-->

    <table th:if="${not #lists.isEmpty(presenceList)}">
        <thead>
        <th>Id</th>
        <th>employee</th>
        <th>date</th>
        <th>EnterTime</th>
        <th>ExitTime</th>
        <th>Operation</th>
        </thead>

        <tbody>
        <tr th:each="presenceAndAbsence :${presenceList}">
            <td th:text="${presenceAndAbsence.id}"></td>
            <td th:text="${presenceAndAbsence.employee}"></td>
            <td th:text="${presenceAndAbsence.date}"></td>
            <td th:text="${presenceAndAbsence.enterTime}"></td>
            <td th:text="${presenceAndAbsence.exitTime}"></td>
            <td>
                <button class="edit-button" th:data-name="${presenceAndAbsence.id}"
                        th:onclick="|getDataForEdit('/presenceAndAbsence', this.getAttribute('data-name'))|"> Edit
                </button>
                <button class="delete-button" th:data-name="${presenceAndAbsence.id}" th:onclick="|remove('/presenceAndAbsence', this.getAttribute('data-name'))|">Remove
                </button>
                <!--todo : add delete confirmation-->
            </td>
        </tr>
        </tbody>
    </table>
    <!--PresenceAndAbsence Table-->


    <!--Save Modal-->
    <div id="save-modal">
        <div id="save-modal-content">
            <form id="save-form" th:object="${presenceAndAbsence}">
                <div th:replace="~{/fragments/presenceAndAbsence-fragments :: presenceAndAbsenceFormContent('employee', 'date', 'enterTime', 'exitTime')}"></div>
            </form>
            <button class="save-button" onclick="save('/presenceAndAbsence', 'save-form')">Save</button>
            <button class="close-button" onclick="closeModal()">Close</button>
        </div>
    </div>
    <!--Save Modal-->




    <!--Edit Modal-->
    <div id="edit-modal">
        <div id="edit-modal-content">
            <form id="edit-form">
                <input type="text" id="id" name="id" hidden="hidden">
                <div th:replace="~{/fragments/presenceAndAbsence-fragments :: presenceAndAbsenceFormContent('employee', 'date', 'enterTime', 'exitTime')}"></div>
            </form>
            <button class="save-button" onclick="edit('/presenceAndAbsence', 'edit-form')">Edit</button>
            <button class="close-button" onclick="closeModal()">Close</button>
        </div>
    </div>
    <!--Edit Modal-->
</div>

<div th:replace="~{/fragments/popup-fragment}"></div>


<script type="text/javascript" src="/js/popup.js"></script>
<script src="/js/js.js"></script>
<script type="text/javascript" th:src="@{js/presenceAndAbsence.js}" src="../static/js/presenceAndAbsence.js"></script>

</body>
</html>