<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/salary.css">
    <title>Salary</title>
</head>
<body>
<h2>Salary Page</h2>

<div class="container">

    <div>
        <button type="button" class="save-button" onclick="addNew()">Add New Salary</button>
    </div>

    <!--Salary Table-->
    <table th:if="${not #lists.isEmpty(salaryList)}">
        <thead>
        <th>Id</th>
        <th>BasicHourlyPay</th>
        <th>BasicDailyPay</th>
        <th>BasicMonthlyPay</th>
        <th>WorkingCoupon</th>
        <th>HousingRight</th>
        <th>WorkingYearPay</th>
        <th>PayForEachChild</th>
        <th>MarriedPeopleRights</th>
        <th>Insurance</th>
        <th>Year</th>
        <th>Operation</th>
        </thead>

        <tbody>
        <tr th:each="salary :${salaryList}">
            <td th:text="${salary.id}"></td>
            <td th:text="${salary.basicHourlyPay}"></td>
            <td th:text="${salary.basicDailyPay}"></td>
            <td th:text="${salary.basicMonthlyPay}"></td>
            <td th:text="${salary.workingCoupon}"></td>
            <td th:text="${salary.housingRight}"></td>
            <td th:text="${salary.workingYearPay}"></td>
            <td th:text="${salary.payForEachChild}"></td>
            <td th:text="${salary.marriedPeopleRights}"></td>
            <td th:text="${salary.insurance}"></td>
            <td th:text="${salary.year}"></td>
            <td>
                <button class="edit-button" th:data-name="${salary.id}"
                        th:onclick="|getDataForEdit('/salary', this.getAttribute('data-name'))|"> Edit
                </button>
                <button class="delete-button" th:data-name="${salary.id}" th:onclick="|remove('/salary', this.getAttribute('data-name'))|">Remove
                </button>
                <!--todo : add delete confirmation-->
            </td>
        </tr>
        </tbody>
    </table>
    <!--Salary Table-->



    <!--Save Modal-->
    <div id="save-modal">
        <div id="save-modal-content">
            <form id="save-form" th:object="${salary}">
                <div th:replace="~{/fragments/salary-fragments :: salaryFormContent('basicHourlyPay', 'basicDailyPay','basicMonthlyPay','workingCoupon','housingRight','workingYearPay','payForEachChild','marriedPeopleRights','insurance','year')}"></div>
            </form>
            <button class="save-button" onclick="save('/salary', 'save-form')">Save</button>
            <button class="close-button" onclick="closeModal()">Close</button>
        </div>
    </div>
    <!--Save Modal-->


    <!--Edit Modal-->
    <div id="edit-modal">
        <div id="edit-modal-content">
            <form id="edit-form">
                <input type="text" id="id" name="id" hidden="hidden">
                <div th:replace="~{/fragments/salary-fragments :: salaryFormContent('basicHourlyPay', 'basicDailyPay','basicMonthlyPay','workingCoupon','housingRight','workingYearPay','payForEachChild','marriedPeopleRights','insurance','year')}"></div>
            </form>
            <button class="save-button" onclick="edit('/salary', 'edit-form')">Edit</button>
            <button class="close-button" onclick="closeModal()">Close</button>
        </div>
    </div>
    <!--Edit Modal-->


</div>

<div th:replace="~{/fragments/popup-fragment}"></div>


<script type="text/javascript" src="/js/popup.js"></script>
<script src="/js/js.js"></script>
<script type="text/javascript" th:src="@{js/salary.js}" src="../static/js/salary.js" ></script>

</body>
</html>