<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skills Table After Filler</title>
</head>
<body>

<div class="container">
    <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th>Skill Title</th>
        <th>Rate</th>
        <th>Training</th>
        <th>Description</th>
        <th>Certification</th>
        <th>Status</th>
        </thead>

        <tbody>
        <tr th:if="${skills.deleted == false}" >
            <td th:text="${skills.id}"></td>
            <td th:text="${skills.skillTitle}"></td>
            <td th:text="${skills.rate}"></td>
            <td th:text="${skills.training}"></td>
            <td th:text="${skills.description}"></td>
            <td th:text="${skills.certification}"></td>
            <td >Active</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>