<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skills CRUD System</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,200"/>


</head>
<body>
<!--Main Container-->
<div class="main-container">
    <!--Add New Button-->
    <button  class="add-new" onclick="addNew()">
     <span class="material-symbols-outlined">
        add
    </span>
    </button>
    <!--Add New Button-->

    <br><br>

    <!--Save Modal-->
    <div id="save-modal" class="modal">
        <div id="save-modal-content" class="modal-body">

            <div class="modal-form">
                <form id="save-form" th:object="${skills}">
                    <div th:replace="~{/fragments/skills/skills-fragment :: skillsFormContent('skillTitle' ,'rate','training' ,'description','certification')}"></div>
                </form>
            </div>

            <div class="modal-footer">
                <button onclick="save('/skills' ,'save-form')">Save</button>
                <button onclick="closeModal()">Cancel</button>
            </div>

        </div>
    </div>
    <!--Save Modal-->

    <!--Table-->
    <div class="table" th:if="${skillList.size() > 0}">
        <table >
            <thead>
            <tr>
                <th>Id</th>
                <th>Skill Title</th>
                <th>Rate</th>
                <th>Training</th>
                <th>Description</th>
                <th>Certification</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="skill :${skillList}">
                <td th:text="${skill.id}"></td>
                <td th:text="${skill.skillTitle}"></td>
                <td th:text="${skill.rate}"></td>
                <td th:text="${skill.training}"></td>
                <td th:text="${skill.description}"></td>
                <td th:text="${skill.certification}"></td>
                <td>Active</td>
                <td><a  th:data-name="${skill.id}" th:onclick="|findById('/skills', this.getAttribute('data-name'))|">
              <span class="material-symbols-outlined edit" >
                edit
            </span>
                </a></td>
                <td><a  th:data-name="${skill.id}" th:onclick="|remove('/skills', this.getAttribute('data-name'))|">
             <span class="material-symbols-outlined delete">
                delete
            </span>
                </a></td>
            </tr>

            </tbody>
        </table>
    </div>
    <!--Table-->

    <!--Edit Modal-->
    <div id="edit-modal" class="modal">
        <div id="edit-modal-content" class="modal-body">

            <div class="modal-form">
                <form id="edit-form">
                    <input type="text" id="id" name="id" hidden="hidden">
                    <div th:replace="~{/fragments/skills/skills-fragment :: skillsFormContent('edit-skillTitle' ,'edit-rate','edit-training' ,'edit-description','edit-certification')}"></div>
                </form>
            </div>

            <div class="modal-footer">
                <button onclick="edit('/skills' , 'edit-form')">Edit</button>
                <button onclick="closeModal()">Cancel</button>
            </div>

        </div>
    </div>
    <!--Edit Modal-->

    <!--PopUp-->
    <div class="popup" id="popup">
        <div class="popup-content" id="popup-content">
            <span class="material-symbols-outlined popup-info" id="popup-info">
                check_circle
            </span>

            <span class="material-symbols-outlined popup-error" id="popup-error">
                error
            </span>

            <div class="popup-message" id="popup-message">
                <span class="text text-1 popup-title" id="popup-title"></span>
                <span class="text text-2 popup-text" id="popup-text"></span>
            </div>
        </div>
        <span class="material-symbols-outlined popup-close" id="popup-close">
            close
        </span>
        <div class="popup-progress" id="popup-progress"></div>
    </div>
    <!--PopUp-->
</div>
<!--Main Container-->

<script src="/js/skills.js"></script>
<script src="/js/template.js"></script>
<script src="/js/popup.js"></script>
</body>
</html>