<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.css">
    <title>Ticket</title>
</head>
<body>
<h2>Ticket Page</h2>

<div class="container">
    <div class="navBar">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModalTicket">Add New
            Ticket
        </button>
    </div>

    <table class="table table-striped" th:if="${#lists.size(ticketList) > 0}">
        <thead>
        <th>Id</th>
        <th>Ticket Date</th>
        <th>Ticket Time</th>
        <th>Ticket Title</th>
        <!--    <th>Applicant</th>-->
        <th>Request</th>
        <th>Group</th>
        <th>Status</th>
        <th>Deleted</th>
        <th>Operation</th>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ticketList}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.ticketTimeStamp.toLocalDate()}"></td>
            <td th:text="${ticket.ticketTimeStamp.toLocalTime()}"></td>
            <td th:text="${ticket.title}"></td>
            <!--        <td th:text="${ticket.applicant}"></td>-->
            <td th:text="${ticket.request}"></td>
            <td th:if="${ticket.group.parent != null}" th:text="${ticket.group.title}"></td>
            <td th:unless="${ticket.group.parent != null}" th:text="${ticket.group.title}"></td>
            <td th:text="${ticket.status}"></td>
            <td th:text="${ticket.deleted}"></td>
            <td>
                <button class="btn btn-warning editButtonJobs" th:data-name="${ticket.id}"
                        th:onclick="findId(this.getAttribute('data-name'))">Edit
                </button>
                <button class="btn btn-danger deleteButtonJobs" th:data-name="${ticket.id}"
                        th:onclick="deleted(this.getAttribute('data-name'))">Delete
                </button>
            </td>
        </tr>

        </tbody>
    </table>

    <!--Save Modal-->
    <div class="modal fade" id="saveModalTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="saveFormTicket">
                    <div class="modal-header">
                        <h5 class="modal-title" id="save__modal__title__jobs">Save New Ticket </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="title__add__ticket" class="col-form-label">Title :</label>
                            <input type="text" name="title" class="form-control" id="title__add__ticket">
                        </div>


                        <div class="mb-3">
                            <label for="request__add__ticket" class="col-form-label">Request :</label>
                            <input type="text" name="request" class="form-control" id="request__add__ticket">
                        </div>


                        <label for="parent__add__ticket" class="col-form-label">Field :</label>
                        <select class="form-select" aria-label="Default select example"
                                id="parent__add__ticket"
                                th:if="${#lists.size(ticketGroupParents) > 0}"
                                onchange="handleSelectChange(event)">
                            <option selected disabled value="-1">Select The Relevant Group: </option>
                            <option th:each="ticketGroup : ${ticketGroupParents}"
                                    th:value="${ticketGroup.id}"
                                    th:text="${ticketGroup.title}"
                                    th:data-name="${ticketGroup.id}">
                            </option>
                        </select>

                        <label for="child__add__ticket" class="col-form-label" style="display: none">Sub Group :</label>
                        <select id="child__add__ticket" class="form-select" style="display: none"
                                aria-label="Default select example">
                        </select>

                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="save()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

    </div>
    <!--Edit Modal-->
    <div class="modal fade" id="editModalTicket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="editFormTicket" action="" method="">

                    <div class="modal-header">
                        <h5 class="modal-title" id="edit__modal__title__ticket">Edit Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="id__edit__ticket" class="col-form-label">ID :</label>
                            <input type="text" class="form-control" id="id__edit__ticket" name="id" readonly>
                        </div>


                        <div class="mb-3">
                            <label for="title__edit__ticket" class="col-form-label">Title :</label>
                            <input type="text" class="form-control" id="title__edit__ticket" name="title">
                        </div>


                        <div class="mb-3">
                            <label for="request__edit__ticket" class="col-form-label">Request :</label>
                            <input type="text" class="form-control" id="request__edit__ticket" name="request">
                        </div>


                        <div class="mb-3">
                            <label for="ticketTimeStamp__edit__ticket" class="col-form-label">Date :</label>
                            <input type="datetime-local" class="form-control" id="ticketTimeStamp__edit__ticket"
                                   name="ticketTimeStamp">
                        </div>

                        <div class="mb-3">
                            <label for="status__edit__ticket" class="col-form-label">Status :</label>
                            <select class="form-select" aria-label="Default select example" id="status__edit__ticket"
                                    name="status">
                                <option selected disabled value="-1">Choose Ticket Status :</option>
                                <option value="unassigned">Unassigned</option>
                                <option value="open">Open</option>
                                <option value="answered">Answered</option>
                                <option value="postponed">Postponed</option>
                                <option value="closed">Closed</option>
                            </select>
                        </div>

                        <label for="ticket__edit__group" class="col-form-label">Field :</label>
                        <select class="form-select" aria-label="Default select example"
                                id="ticket__edit__group"
                                name="group" th:if="${#lists.size(ticketGroupParents) > 0}">
                            <option selected value="-1"></option>
                            <option th:each="ticketGroup : ${ticketGroupParents}"
                                    th:value="${ticketGroup.id}"
                                    th:text="${ticketGroup.title}">
                            </option>
                        </select>

                        <!--                        <div class="mb-3">-->
                        <!--                            <label for="group__edit__ticket" class="col-form-label">Group :</label>-->
                        <!--                            <select class="form-select" aria-label="Default select example" id="group__add__ticket"-->
                        <!--                                    name="group" th:value="${ticket.group}" th:field="*{group}">-->
                        <!--                                <option selected disabled value="-1">Choose Ticket Group :</option>-->
                        <!--                                <option value=""></option>-->
                        <!--                                <option value=""></option>-->
                        <!--                            </select>-->
                        <!--                            <span class="error" th:if="${#fields.hasErrors('group')}"-->
                        <!--                                  th:errors="*{group}">Invalid Group !</span>-->
                        <!--                        </div>-->


                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitEditModal__ticket" onclick="edit()">
                        Edit
                    </button>
                </div>
            </div>
        </div>

    </div>


</div>

<script type="text/javascript" src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{js/ticket.js}" src="../static/js/ticket.js"></script>
</body>
</html>