<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
<h2>Ticket Page</h2>

<form th:action="@{/ticket/save}" method="post" th:object="${ticket}">
   <label>Ticket Applicant: <input type="text" placeholder="Applicant" th:value="${applicant}" th:field="*{applicant}"></label>
    <br>
    <label>Ticket Request:<input type="text" placeholder="Request" th:value="${request}" th:field="*{request}"></label>
    <br>
    <label>Ticket Group: <input type="text" placeholder="Group" th:value="${group}" th:field="*{group}"></label>
    <br>
    <label>Ticket Status: <input type="text" placeholder="Status" th:value="${status}" th:field="*{status}"></label>
    <br>
    <input type="submit" value="Save">
</form>
<table th:if="${#lists.size(ticketList) > 0}">
    <thead>
    <th>Id</th>
    <th>Ticket Date</th>
    <th>Ticket Title</th>
    <th>Applicant</th>
    <th>Request</th>
    <th>Group</th>
    <th>Status</th>
    <th>Operation</th>
    </thead>
    <tbody>
    <tr th:each="t : ${ticketList}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.ticketTimeStamp}"></td>
        <td th:text="${t.title}"></td>
        <td th:text="${t.applicant}"></td>
        <td th:text="${t.request}"></td>
        <td th:text="${t.group}"></td>
        <td th:text="${t.status}"></td>
        <td th:text="${t.active}"></td>
        <td>
            <button th:onclick="'edit(\'' + ${t.id} + '\')'">Edit</button>
            <form th:action="@{/ticket/delete}" method="post">
                <input type="text" name="id" th:value="${t.id}" hidden="hidden">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${ticketEdit} != null">
   <label>Ticket ID: <input type="text" th:value="${ticketEdit.id}"></label>
   <label>Ticket Date: <input type="text" th:value="${ticketEdit.ticketTimeStamp}"></label>
    <label>Ticket Title: <input type="text" th:value="${ticketEdit.title}"></label>
    <label>Ticket Applicant: <input type="text" th:value="${ticketEdit.applicant}"></label>
   <label>Ticket Request: <input type="text" th:value="${ticketEdit.request}"></label>
   <label>Ticket Group : <input type="text" th:value="${ticketEdit.group}"></label>
   <label>Ticket Status: <input type="text" th:value="${ticketEdit.status}"></label>
   <label>Ticket Active: <input type="text" th:value="${ticketEdit.active}"></label>
</div>
<script>
    async function edit(id) {
        const resp = await fetch("/ticket/id/" + id, {
            method: "get"
        });
        window.location.replace("/ticket")
    }
</script>
</body>
</html>