<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timesheet table</title>
    <style>
        .error{
            color:red;
        }

        .success{
            color:green;
        }
    </style>
</head>
<body>
<a href="/timesheet/timesheetForm">Add New</a>
<br><br>
<h1 th:if="${#lists.isEmpty(timesheetList)}">
    No Timesheet Table
</h1>
<table th:if="${not #lists.isEmpty(timesheetList)}">
    <thead>
    <th> date </th>
<!--    <th> employeeId </th>-->
<!--    <th> manager </th>-->
    <th> regularTimeIn </th>
    <th> regularTimeOut </th>
    <th> overTimeIn </th>
    <th> overTimeOut </th>
    <th> employeeSignature </th>
    <th> managerSignature </th>
    <th> Operation </th>
    </thead>

    <tbody>
    <tr th:each="t : ${timesheetList}">
        <td th:text="${t.date}"></td>
<!--        <td th:text="${t.employee.id}"></td>-->
<!--        <td th:text="${t.manager.id}"></td>-->
        <td th:text="${t.regularTimeIn}"></td>
        <td th:text="${t.regularTimeOut}"></td>
        <td th:text="${t.overTimeIn}"></td>
        <td th:text="${t.overTimeOut}"></td>
        <td th:text="${t.employeeSignature}"></td>
        <td th:text="${t.managerSignature}"></td>
        <td>
            <button type="button" th:onclick="edit('[[${t.id}]]')">Edit</button>

            <form th:action="@{/timesheet/delete}" method="post">
                <label>
                    <input type="text" name="id" hidden="hidden" th:value="${t.id}">
                </label>
                <label>
                    <input type="text" name="date" hidden="hidden" th:value="${t.date}">
                </label>
                <button type="submit">Delete</button>
                <div class="error" th:if="${msg != null}">
                    <span th:text="${msg}"></span>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function edit(id){
        window.location.replace("/timesheet/edit?id=" + id);
    }
</script>
</body>
</html>