<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/timesheet.css">
    <title>Timesheet</title>
</head>
<body>

<div class="container">

    <div>
        <button type="button" class="save-button" onclick="addNew()">Add New Timesheet</button>
    </div>

    <!--Timesheet Table-->

    <table th:if="${not #lists.isEmpty(timesheetList)}">
        <thead>
        <th>Id</th>
        <th>employee</th>
        <th>date</th>
        <th>manager</th>
        <th>regularTimeIn</th>
        <th>regularTimeOut</th>
        <th>overTimeIn</th>
        <th>overTimeOut</th>
        <th>employeeSignature</th>
        <th>managerSignature</th>
        <th>Operation</th>
        </thead>

        <tbody>
        <tr th:each="timesheet :${timesheetList}">
            <td th:text="${timesheet.id}"></td>
            <td th:text="${timesheet.employee}"></td>
            <td th:text="${timesheet.date}"></td>
            <td th:text="${timesheet.manager}"></td>
            <td th:text="${timesheet.regularTimeIn}"></td>
            <td th:text="${timesheet.regularTimeOut}"></td>
            <td th:text="${timesheet.overTimeIn}"></td>
            <td th:text="${timesheet.overTimeOut}"></td>
            <td th:text=noValueYet></td>
            <td th:text=noValueYet></td>
            <td>
                <button class="edit-button" th:data-name="${timesheet.id}"
                        th:onclick="|getDataForEdit('/timesheet', this.getAttribute('data-name'))|"> Edit
                </button>
                <button class="delete-button" th:data-name="${timesheet.id}" th:onclick="|remove('/timesheet', this.getAttribute('data-name'))|">Remove
                </button>
                <!--todo : add delete confirmation-->
            </td>
        </tr>
        </tbody>
    </table>
    <!--Timesheet Table-->


    <!--Save Modal-->
    <div id="save-modal">
        <div id="save-modal-content">
            <form id="save-form" th:object="${timesheet}">
                <div th:replace="~{/fragments/timesheet-fragments :: timesheetFormContent('date', 'regularTimeIn', 'regularTimeOut', 'overTimeIn', 'overTimeOut', 'employee', 'manager')}"></div>
            </form>
            <button class="save-button" onclick="save('/timesheet', 'save-form')">Save</button>
            <button class="close-button" onclick="closeModal()">Close</button>
        </div>
    </div>
    <!--Save Modal-->




    <!--Edit Modal-->
    <div id="edit-modal">
        <div id="edit-modal-content">
            <form id="edit-form">
                <input type="text" id="id" name="id" hidden="hidden">
                <div th:replace="~{/fragments/timesheet-fragments :: timesheetFormContent('date', 'regularTimeIn', 'regularTimeOut', 'overTimeIn', 'overTimeOut', 'employee', 'manager')}"></div>
            </form>
            <button class="save-button" onclick="edit('/timesheet', 'edit-form')">Edit</button>
            <button class="close-button" onclick="closeModal()">Close</button>
        </div>
    </div>
    <!--Edit Modal-->

</div>

<div th:replace="~{/fragments/popup-fragment}"></div>

<script type="text/javascript" src="/js/popup.js"></script>
<script src="/js/js.js"></script>
<script type="text/javascript" th:src="@{js/timesheet.js}" src="../static/js/timesheet.js"></script>
</body>
</html>