<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family-Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,200" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/enDashboard.css">
</head>
<body>
    <div class="container">
        <!--SideBar -->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../fa/img/mftlogo.png" >
                    <h1>MF<span class="danger">T</span></h1>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <h3>Customers</h3>
                    
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        receipt_long
                        </span>
                    <h3>Orders</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        finance
                        </span>
                    <h3>Analytics</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        mail
                        </span>
                    <h3>Message</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        inventory
                        </span>
                    <h3>Products</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        report
                        </span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    <h3>Add</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!--SideBar -->

        <main>
            <!-- Entity Forms -->

        </main>
        <!-- ===========End Of Main============ -->

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <div class="lang-toggler">
                    <span class="material-symbols-outlined lang-icon" role="button" id="lang-icon">
                        language
                    </span>
                    <ul class="lang-dropdown" id="lang-dropdown">
                        <li><a href="../fa/dashboard.html"><b>فارسی</b></a></li>
                        <li><a href="" class="text-muted">English</a></li>
                    </ul>
                </div>
                <div class="theme-toggler">
                    <span class="material-symbols-outlined active">
                        light_mode
                    </span>
                    
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span>

                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hi  <b> Mahoor</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../fa/img/profile2.png">
                    </div>
                </div>
            </div>
            <!-- End Of Top -->
            
        </div>
    </div>




    
    <script src="js/ordersEn.js"></script>
    <script src="js/enDashboard.js"></script>
</body>
</html>